{
    "check-coverage": true,
    "lines": 80,
    "statements": 80,
    "functions": 75,
    "branches": 65,
    "include": [
      "./built/lib/**/*.js"
    ],
    "reporter": [
      "lcov",
      "text"
    ]
}