{
    "check-coverage": true,
    "lines": 65,
    "statements": 65,
    "functions": 50,
    "branches": 45,
    "include": [
      "./built/lib/**/*.js"
    ],
    "reporter": [
      "lcov",
      "text"
    ]
}